<template>
  <div>
    <nuxt-link to="/jokes">Back To Jokes</nuxt-link>
    <h2 class="h2">{{ joke }}</h2>
    <hr />
    <small>Joke ID: {{ $route.params.id }}</small>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      joke: {

      }
    }
  },
  async created() {
    const config = {
      headers: {
        'Accept': 'application/json'
      }
    }
    try {
      const res = await axios.get(`https://icanhazdadjoke.com/j/${this.$route.params.id}`, config);
      this.joke = res.data.joke;
    } catch (err) {
      conole.log(err)
    }
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.h2 {
  font-family: 'Nerko One', cursive;
  font-size: 22px;
}
</style>