<template>
  <form @submit.prevent="onSubmit">
      <input type="text" v-model="text" placeholder=" Get Something dry">
      <input type="submit" value="Search">
  </form>
</template>

<script>
export default {
    name: 'SearchJokes',
    data() {
        return {
            text: ''
        }
    },
    methods: {
        onSubmit() {
            this.$emit('search-text', this.text);
            this.text="";
        }
    }
}
</script>

<style>

</style>