<template>
  <div>
      <h1>About this website</h1>
      <p>This is a Dry Jokes website.</p>
      <p>Expect to read (or submit, if you're up for the challenge) the driest, deadest jokes ever.</p>
  </div>
</template>

<script>
export default {
    head() {
        return {
            title: "About Us",
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: "Best place for dad jokes"
                }
            ]
        }
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
}
body {
  font-family: 'Nerko One', cursive, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #f8e6d4;
}
a {
  color: #666;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 800px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 1rem 2rem;
  background: #fff;
}
</style>