<template>
  <div>
    <h2>
      Welcome to my website for Dry Jokes
    </h2>
  </div>
</template>

<script>

export default {
  head() {
    return {
      title: "Welcome",
      meta: [
          {
              hid: "description",
              name: "description",
              content: "Best place for dry jokes"
          }
      ]

    }
  }
}
</script>
